<!DOCTYPE html>
<html lang="bg">
<body>
	<header class="text-white text-center py-5">
		<h1>Добре дошли в Онлайн Докторската Система</h1>
	</header>

	<section class="container mt-5">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 text-center">
				<h2 class="mb-4">Вашето здраве е най-важното!!!</h2>
				<p class="lead">Нашата платформа ви позволява да се консултирате с лекари онлайн, бързо и удобно. Запазете си час сега.</p>
				<a asp-controller="Doctor" asp-action="All" class="btn btn-primary btn-lg">Запазете час</a>
			</div>
		</div>
	</section>
</body>
</html>