@{
    this.ViewData["Title"] = "Грешно време!!";
}

<div class="text-center">
    <h1>Въвели сте грешни данни!</h1>
    <div class="alert alert-danger">
        Началния час трябва да е различен от крайния и да е преди него!
    </div>
</div>
