@{
    this.ViewData["Title"] = "Успешно добавяне";
    Layout = "_Layout";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>
<div class="text-center">
    <div class="alert alert-success">
        <span>Успешно добавихте @this.ViewData["Count"] лекари!</span>
    </div>
</div>
