@{
    this.ViewData["Title"] = "Благодарим!";
}
<div class="text-center">
    <h1>Получихме съобщението!</h1>
    <div class="alert alert-success">
        <span>Благодарим, че изпратихте съобщение! Очаквайте отговор в най-ранно време!</span>
    </div>
</div>