@model OnlineDoctorSystem.Web.ViewModels.Prescriptions.SuccessfullyAddedPrescription
@{
    this.ViewData["Title"] = "Успешно подадена заявка!";
}

<div class="text-center">
    <h1>Успешно добавихте предписание на @Model.PatientName!</h1>
</div>
