@{
    this.ViewData["Title"] = "Благодарим!";
}
<div class="text-center">
    <h1>Благодарим!</h1>
    <div class="alert alert-success">
        <span>Благодарим, че се регистрирахте в нашата платформа!</span>
    </div>
    <hr />
</div>
